{% extends 'main/header.html' %}

{% block content %}
    <h2>Upload</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 在渲染模板时，django会把    {% csrf_token %} 
            替换成一个<input type="hidden", name='csrfmiddlewaretoken' value=服务器随机生成的token>元素。
            在提交表单的时候，会把这个token给提交上去。 
        -->
        <input type='file' name='document'>
        <button type="submit">Upload file</button>
    </form>

    {% if url %}
        <p>Uploaded file: <a href="{{url}}">{{url}}</a> </p>
    {% endif %}

{% endblock %}